:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}


a{
  text-decoration: none;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 4813px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 1920px;
  margin: 0 0 0 0;
  padding: 24px 240px 24px 240px;
  background: #d2d6d5;
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 50px;
  position: relative;
  min-width: 0;
  z-index: 1;
  overflow: hidden;
  max-width: 1440px;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 123px;
  z-index: 2;
  overflow: hidden;
}
.main-colored {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 33.77px;
  z-index: 3;
  overflow: hidden;
}
.layer {
  position: relative;
  width: 122.999px;
  height: 33.77px;
  margin: 0 0 0 0;
  z-index: 4;
}
.group {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.group-1 {
  position: absolute;
  width: 19.75%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/1f604680-c73e-4c12-b018-078250e0e69d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
}
.flex-column-bf {
  position: absolute;
  width: 76.57%;
  height: 67.55%;
  top: 22.72%;
  left: 23.43%;
  z-index: 7;
}
.group-2 {
  position: relative;
  width: 51.516px;
  height: 10.485px;
  margin: 0 0 0 0;
  background: url(./assets/images/011aafc0-cace-4635-9bb6-58a65c378c2f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.group-3 {
  position: relative;
  width: 93.946px;
  height: 10.487px;
  margin: 1.841px 0 0 0.24px;
  z-index: 7;
}
.vector {
  position: absolute;
  width: 7.62%;
  height: 100%;
  top: 0;
  left: 41.05%;
  background: url(./assets/images/927a2fba-d64e-40b5-ad43-eb7142bd54eb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 12;
}
.vector-4 {
  position: absolute;
  width: 10.83%;
  height: 99.98%;
  top: 0.01%;
  left: 9.64%;
  background: url(./assets/images/3ec03f6a-cadf-4f1f-8e37-5c7d3b21e5eb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 9;
}
.vector-5 {
  position: absolute;
  width: 8.13%;
  height: 96.85%;
  top: 1.58%;
  left: 0;
  background: url(./assets/images/47d00fa3-f441-47a9-8b6e-cc31224d30bf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.vector-6 {
  position: absolute;
  width: 9.58%;
  height: 96.85%;
  top: 1.58%;
  left: 21.97%;
  background: url(./assets/images/bddb77ec-9bf5-4a72-bc00-087e399da581.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 10;
}
.vector-7 {
  position: absolute;
  width: 6.97%;
  height: 96.86%;
  top: 1.58%;
  left: 33.38%;
  background: url(./assets/images/202e87f2-5913-4240-afa9-760731f5fbfd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 11;
}
.vector-8 {
  position: absolute;
  width: 5.95%;
  height: 96.86%;
  top: 1.58%;
  left: 51.92%;
  background: url(./assets/images/2b564e49-5945-46c1-a686-a19284d5e258.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.vector-9 {
  position: absolute;
  width: 1.16%;
  height: 96.85%;
  top: 1.58%;
  left: 58.9%;
  background: url(./assets/images/175b2137-c05c-41ad-a4fe-ec69e6eb52b3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.vector-a {
  position: absolute;
  width: 9.58%;
  height: 96.85%;
  top: 1.58%;
  left: 61.89%;
  background: url(./assets/images/94a7dc81-2f0a-4b2b-b551-4b521cbc1732.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.vector-b {
  position: absolute;
  width: 1.16%;
  height: 96.85%;
  top: 1.58%;
  left: 73.3%;
  background: url(./assets/images/ceeddb8e-a518-49bd-a6e4-38e0ad1c6e3f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
}
.vector-c {
  position: absolute;
  width: 7.11%;
  height: 96.86%;
  top: 1.58%;
  left: 75.17%;
  background: url(./assets/images/5db65990-cb28-4833-91af-608346197649.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 17;
}
.vector-d {
  position: absolute;
  width: 6.97%;
  height: 96.86%;
  top: 1.58%;
  left: 82.99%;
  background: url(./assets/images/a456526f-ce79-47d2-a630-00a159ecd580.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.vector-e {
  position: absolute;
  width: 8.85%;
  height: 96.86%;
  top: 1.58%;
  left: 91.15%;
  background: url(./assets/images/5b7f5790-74db-4281-b451-c604ea6ad8ab.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 19;
}
.pages {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 30px;
  position: relative;
  height: 19.19px;
  padding: 0 0 0.19px 0;
  z-index: 21;
  overflow: hidden;
}
.container-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 48px;
  z-index: 22;
}
.container-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 23;
}
.link {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 48px;
  padding: 1.9px 0 1.9px 0;
  z-index: 24;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.container-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 48px;
  z-index: 26;
}
.container-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 27;
}
.link-13 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 48px;
  padding: 1.9px 0 1.9px 0;
  z-index: 28;
}
.about {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #1c1c1c;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.container-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  opacity: 0.2;
  z-index: 30;
}
.container-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 31;
}
.link-16 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  padding: 1.9px 0 1.9px 0;
  z-index: 32;
}
.projects {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.container-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 66px;
  z-index: 34;
}
.container-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 35;
}
.link-19 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 66px;
  padding: 1.9px 0 1.9px 0;
  z-index: 36;
}
.contact {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 233px;
  z-index: 38;
}
.link-1a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 233px;
  padding: 13px 30px 13px 30px;
  background: #1c1c1c;
  z-index: 39;
  overflow: hidden;
  border-radius: 2px;
}
.border {
  flex-shrink: 0;
  position: absolute;
  width: 233px;
  height: 44px;
  top: 0;
  left: 0;
  border: 1px solid #1c1c1c;
  z-index: 43;
  border-radius: 2px;
}
.container-1b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 173px;
  z-index: 40;
}
.container-1c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 41;
}
.schedule-appointment {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 18px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.flex-row-aec {
  position: relative;
  width: 1920px;
  height: 2473px;
  margin: 0 0 0 0;
  z-index: 50;
}
.frame {
  position: absolute;
  width: 1920px;
  height: 815px;
  top: 0;
  left: 0;
  font-size: 0px;
  background: url(./assets/images/94a858c6-8303-4dab-b1e6-3cf5719e6e58.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.architecture {
  display: block;
  position: relative;
  height: 19px;
  margin: 154px 0 0 240px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.19px;
  z-index: 47;
}
.joyous-homes {
  display: block;
  position: relative;
  height: 68px;
  margin: 29px 0 0 240px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 56px;
  font-weight: 400;
  line-height: 67.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.we-specialized {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1197px;
  height: 268px;
  margin: 37px 0 0 240px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  z-index: 48;
}
.rectangle {
  position: absolute;
  width: 1920px;
  height: 1773px;
  top: 700px;
  left: 0;
  font-size: 0px;
  background: #ed8a0a;
  z-index: 50;
}
.premier-project {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1052px;
  height: 180px;
  margin: 807px 0 0 601px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-overflow: initial;
  z-index: 53;
  overflow: hidden;
}
.rectangle-1d {
  position: relative;
  width: 1075px;
  height: 558px;
  margin: 88px 0 0 605px;
  background: url(./assets/images/a804dfb30b87d1b13e815e0a4f1b6640a689b1ca.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.architecture-is-not {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 1033px;
  height: 672px;
  top: 98px;
  left: 604px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 67.2px;
  text-align: left;
  text-overflow: initial;
  z-index: 51;
  overflow: hidden;
}
.project-overview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 115px;
  left: 240px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.19px;
  z-index: 52;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1440px;
  height: 408px;
  margin: 136px 0 0 240px;
  z-index: 57;
}
.rectangle-1e {
  flex-shrink: 0;
  position: relative;
  width: 710px;
  height: 408px;
  background: url(./assets/images/b4f3e4d6392c77ac65ed19368b2ae9649873600e.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
}
.rectangle-1f {
  flex-shrink: 0;
  position: relative;
  width: 710px;
  height: 408px;
  background: url(./assets/images/082a1e93d8cd79fdca53ae846d07549c268ed988.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.rectangle-20 {
  position: relative;
  width: 1440px;
  height: 408px;
  margin: 19px 0 0 240px;
  background: url(./assets/images/18c6522b2afaa0a30c22fe2decd911c027151daa.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
}
.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 1920px;
  margin: 118px 0 0 0;
  padding: 100px 240px 100px 240px;
  background: #fff29c;
  z-index: 59;
  overflow: hidden;
}
.container-21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 50px;
  position: relative;
  min-width: 0;
  z-index: 60;
  overflow: hidden;
  max-width: 1440px;
}
.container-22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 550px;
  z-index: 61;
  overflow: hidden;
}
.container-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 550px;
  z-index: 62;
}
.heading {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 105.59px;
  font-size: 0px;
  z-index: 63;
}
.lets-connect-and {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 399.355px;
  height: 52.8px;
  margin: -0.9px 0 0 81.38px;
  color: #010f12;
  font-family: Poppins, var(--default-font-family);
  font-size: 44px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  white-space: nowrap;
  z-index: 64;
}
.collaborate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 254.027px;
  height: 52.8px;
  margin: 0px 0 0 148.19px;
  color: #010f12;
  font-family: Poppins, var(--default-font-family);
  font-size: 44px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  white-space: nowrap;
  z-index: 65;
}
.container-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 550px;
  z-index: 66;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 44.78px;
  font-size: 0px;
  z-index: 67;
}
.contact-us-today {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 554.108px;
  height: 22.4px;
  margin: -0.7px 0 0 0.23px;
  color: #010f12;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 68;
}
.guide-design-construction {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 417.833px;
  height: 22.4px;
  margin: -0.01px 0 0 66.27px;
  color: #010f12;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 69;
}
.container-25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 337px;
  z-index: 70;
}
.link-26 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 337px;
  padding: 6px 24px 6px 6px;
  background: #ed8a0a;
  z-index: 71;
  overflow: hidden;
  border-radius: 50px;
}
.background-27 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 31px;
  padding: 8px 8px 8px 8px;
  background: #1c1c1c;
  z-index: 72;
  overflow: hidden;
  border-radius: 50px;
}
.container-28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 15px;
  height: 15px;
  z-index: 73;
}
.svg {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 15px;
  z-index: 74;
}
.group-29 {
  position: relative;
  width: 11.25px;
  height: 9.376px;
  margin: 2.812px 0 0 1.875px;
  z-index: 75;
}
.vector-2a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/42c7d5f4-5d78-4166-9823-f2445939857a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 76;
}
.container-2b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 266px;
  z-index: 77;
}
.container-2c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 78;
}
.email {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 18px;
  color: #1c1c1c;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.container-2d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  z-index: 80;
}
.container-2e {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  padding: 0 516.92px 0 516.91px;
  z-index: 81;
}
.phone-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 530px;
  height: 135px;
  color: #010f12;
  font-family: Poppins, var(--default-font-family);
  font-size: 56px;
  font-weight: 400;
  line-height: 67.2px;
  text-align: center;
  text-overflow: initial;
  z-index: 82;
  overflow: hidden;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 1920px;
  height: 510px;
  margin: 0.63px 0 0 0;
  padding: 29px 240px 30px 240px;
  background: #1c1c1c;
  z-index: 83;
  overflow: hidden;
}
.frame-2f {
  flex-shrink: 0;
  position: relative;
  width: 1604px;
  height: 303px;
  z-index: 84;
}
.flex-row-e {
  position: relative;
  width: 1555px;
  height: 201.285px;
  margin: 0 0 0 0;
  z-index: 143;
}
.container-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 14.29px;
  position: absolute;
  width: 480px;
  height: 93.74px;
  top: 0;
  left: 0;
  z-index: 143;
  overflow: hidden;
}
.container-31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 123px;
  z-index: 144;
}
.main-black {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 33.77px;
  z-index: 145;
  overflow: hidden;
}
.layer-32 {
  position: relative;
  width: 122.999px;
  height: 33.77px;
  margin: 0 0 0 0;
  z-index: 146;
}
.group-33 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 147;
}
.group-34 {
  position: absolute;
  width: 19.75%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/a7ba9a50-89e0-4597-93a7-74298c292aae.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 162;
}
.flex-column-d {
  position: absolute;
  width: 76.57%;
  height: 67.55%;
  top: 22.72%;
  left: 23.43%;
  z-index: 149;
}
.group-35 {
  position: relative;
  width: 51.516px;
  height: 10.485px;
  margin: 0 0 0 0;
  background: url(./assets/images/24b9c1ea-83e6-4d04-a165-5935033a3037.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 148;
}
.group-36 {
  position: relative;
  width: 93.946px;
  height: 10.487px;
  margin: 1.841px 0 0 0.24px;
  z-index: 149;
}
.vector-37 {
  position: absolute;
  width: 7.62%;
  height: 100%;
  top: 0%;
  left: 41.05%;
  background: url(./assets/images/dc7f0c96-a83a-4c8f-ad21-303a8739afbe.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 154;
}
.vector-38 {
  position: absolute;
  width: 10.83%;
  height: 99.98%;
  top: 0.01%;
  left: 9.64%;
  background: url(./assets/images/88c1fe5a-e28d-450f-b8b0-8ab9e566bff6.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 151;
}
.vector-39 {
  position: absolute;
  width: 8.13%;
  height: 96.85%;
  top: 1.58%;
  left: 0;
  background: url(./assets/images/c745d035-9ba0-45fb-bd5f-0b2f92e9e997.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 150;
}
.vector-3a {
  position: absolute;
  width: 9.58%;
  height: 96.85%;
  top: 1.58%;
  left: 21.97%;
  background: url(./assets/images/95f2a5b7-6632-47f9-b607-59e42f9a50b1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 152;
}
.vector-3b {
  position: absolute;
  width: 6.97%;
  height: 96.86%;
  top: 1.58%;
  left: 33.38%;
  background: url(./assets/images/d0045ee8-779d-4834-8d56-1ca90a3252d7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 153;
}
.vector-3c {
  position: absolute;
  width: 5.95%;
  height: 96.86%;
  top: 1.58%;
  left: 51.92%;
  background: url(./assets/images/8b791965-0db3-435f-bcdc-a21b03c35022.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 155;
}
.vector-3d {
  position: absolute;
  width: 1.16%;
  height: 96.85%;
  top: 1.58%;
  left: 58.9%;
  background: url(./assets/images/7f80954e-9872-43b7-a98a-f90238d7d138.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 156;
}
.vector-3e {
  position: absolute;
  width: 9.58%;
  height: 96.85%;
  top: 1.58%;
  left: 61.89%;
  background: url(./assets/images/130b0eee-40ea-4cd1-a433-a364fbfd1c3a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 157;
}
.vector-3f {
  position: absolute;
  width: 1.16%;
  height: 96.85%;
  top: 1.58%;
  left: 73.3%;
  background: url(./assets/images/1e65b2d8-2a64-44a9-9f60-33e95936d915.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 158;
}
.vector-40 {
  position: absolute;
  width: 7.11%;
  height: 96.86%;
  top: 1.58%;
  left: 75.17%;
  background: url(./assets/images/d807de5b-e0eb-4ad9-919a-99388998bb53.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 159;
}
.vector-41 {
  position: absolute;
  width: 6.97%;
  height: 96.86%;
  top: 1.58%;
  left: 82.99%;
  background: url(./assets/images/1b1c74e0-4bd2-4546-a051-a0b672f129d7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 160;
}
.vector-42 {
  position: absolute;
  width: 8.85%;
  height: 96.86%;
  top: 1.58%;
  left: 91.15%;
  background: url(./assets/images/ac419327-3b5f-46c5-842d-25d1c4eb0a65.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 161;
}
.container-43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 163;
}
.container-44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 0 0 0.68px 0;
  z-index: 164;
}
.redefining-modern-living {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 45px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  z-index: 165;
}
.container-45 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 15px;
  position: absolute;
  width: 234.995px;
  height: 170.95px;
  top: 0;
  left: 50%;
  transform: translate(-118.94%, 0);
  z-index: 122;
  overflow: hidden;
}
.container-46 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 218.34px;
  z-index: 123;
}
.heading-47 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 124;
}
.quick-links {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 125;
}
.container-48 {
  flex-shrink: 0;
  position: relative;
  width: 218.34px;
  height: 131.95px;
  z-index: 126;
  overflow: hidden;
}
.container-49 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 218.34px;
  margin: -1px 0 0 0;
  z-index: 127;
}
.container-4a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 128;
}
.link-4b {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 48px;
  padding: 0.3px 0 0.3px 0;
  z-index: 129;
}
.home-4c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 130;
}
.container-4d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 218.34px;
  margin: 3.79px 0 0 0;
  z-index: 131;
}
.container-4e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 132;
}
.link-4f {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 48px;
  padding: 0.3px 0 0.3px 0;
  z-index: 133;
}
.about-50 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 134;
}
.container-51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 218.34px;
  margin: 3.79px 0 0 0;
  opacity: 0.2;
  z-index: 135;
}
.container-52 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 136;
}
.link-53 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  padding: 0.3px 0 0.3px 0;
  z-index: 137;
}
.projects-54 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 138;
}
.container-55 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 218.34px;
  margin: 3.79px 0 0 0;
  z-index: 139;
}
.container-56 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 140;
}
.link-57 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 66px;
  padding: 0.3px 0 0.3px 0;
  z-index: 141;
}
.contact-58 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 142;
}
.frame-59 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 15px;
  position: absolute;
  width: 280px;
  height: 201.285px;
  top: 0;
  left: 751px;
  z-index: 91;
}
.container-5a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 92;
}
.heading-5b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 93;
}
.reach-us {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.container-5c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 95;
}
.container-5d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 0 0 0.69px 0;
  z-index: 96;
}
.address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 280px;
  height: 45px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  z-index: 97;
}
.container-5e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 98;
}
.container-5f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 99;
}
.link-60 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 280px;
  padding: 0.3px 0 0.3px 0;
  z-index: 100;
}
.email-61 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.container-62 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 102;
}
.container-63 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 63px;
  padding: 0 0 0.69px 0;
  z-index: 103;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 280px;
  height: 45px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-overflow: initial;
  z-index: 104;
  overflow: hidden;
}
.container-64 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 15px;
  position: absolute;
  width: 430px;
  height: 154.99px;
  top: 0;
  left: 1125px;
  z-index: 105;
  overflow: hidden;
}
.container-65 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 446.67px;
  z-index: 106;
}
.heading-66 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 107;
}
.newsletter-subscribe {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 108;
}
.container-67 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 14.2px;
  position: relative;
  width: 446.67px;
  z-index: 109;
  overflow: hidden;
}
.container-68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 357.33px;
  z-index: 110;
}
.container-69 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  z-index: 111;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 10px;
  position: relative;
  z-index: 112;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 8px 8px 8px 8px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 113;
  overflow: hidden;
  border-radius: 25px;
}
.container-6a {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 0 116.95px 1px 116.96px;
  z-index: 114;
  overflow: hidden;
}
.placeholder {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 115;
}
.container-6b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 116;
}
.input-6c {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  padding: 10px 144.02px 10px 144.04px;
  background: #ffffff;
  z-index: 117;
  overflow: hidden;
  border-radius: 25px;
}
.subscribe-button {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #010f12;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  z-index: 118;
}
.container-6d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 119;
}
.container-6e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 0 0 0.79px 0;
  z-index: 120;
}
.newsletter-message {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.frame-6f {
  position: relative;
  width: 1604px;
  height: 72px;
  margin: 29.715px 0 0 0;
  z-index: 85;
  overflow: visible auto;
}
.horizontal-divider {
  position: relative;
  width: 1604px;
  height: 1px;
  margin: 0 0 0 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 86;
  overflow: hidden;
}
.container-70 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
  position: relative;
  width: 1440px;
  margin: 50px 0 0 0;
  z-index: 87;
  overflow: hidden;
}
.container-71 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  z-index: 88;
}
.container-72 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 0 0 0.79px 0;
  z-index: 89;
}
.copyright {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
